* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: #fafafa;
}

a {
    color: black;
    text-decoration: none;
}

/*** NAV ***/
#navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd;
}

/** logo **/
#navbar .logo-div .logo-text {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
}

/** nav buttons **/
#navbar .nav-btn-div {
    height: 100%;
    width: 250px;
    padding: 0 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar .nav-btn {
    margin-left: 30px;
    cursor: pointer;
    color: black; 
}

#navbar .nav-btn .active {
    color: rgb(1, 85, 110);
}

/*** CATEGORIES ***/
#category-section {
    background-color: rgb(243, 243, 243);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/** category buttons **/
#category-section .category-btn-div {
    display: flex;
    align-items: center;
}

#category-section .category-btn button {
    width: 100px;
    padding: 14px 0;
    color: rgb(94, 94, 94);
    font-size: 0.9rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

#category-section .category-btn button:focus {
    background-color: #fafafa;
    color: rgb(1, 85, 110);
}

/** search bar **/
#category-section .search-bar-div {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#category-section .search-bar-wrapper {
    height: 27px;
    display: flex;
    align-items: center;
}

.search-bar-wrapper .search-bar {
    height: 100%;
    border: none;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
}


.search-bar-wrapper .search-icon {
    height: 100%;
    padding: 1px 5px;
    border-radius: 0 2px 2px 0;
    background-color: rgb(46, 46, 46);
    color: white;
    cursor: pointer;
}


/*** PRODUCTS ***/

#product-section {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-auto-rows: minmax(250px, 1fr);
    grid-gap: 2rem;
}

#product-section .product {
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    max-width: 300px;
}

.product span {
    display: block;
}

.product .image-wrapper {
    height: 15rem;
}

.product>.image-wrapper> .product-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.product .category {
    font-size: 0.7rem;
    font-weight: 800;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}

.product .product-name-wrapper {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.product .product-name {
    margin-top: 10px;
}

.product .price-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 10px;
    color:rgb(1, 85, 110); 
}

.product .price {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.product .add-to-cart {
    font-size: 25px;
}